.about-container {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding: 50px;
    padding-top: 50px;
    padding-left: 100px;
    padding-bottom: 59px;
}

.about-image-container {
    flex: 2;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.about-image {
    width: 400px;
    height: 400px;

    margin-left: auto;
    margin-right: auto;    
    border-radius: 25px;
}

.about-bio {
    flex: 3 ;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding-left: 40px;
}

.subtitle {
    font-size: 25px;
}